[user]
  name = David Winter
  email = i@djw.me
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHRx3xQQg/2JYnCvvxSSNsKcvefeCAkPd4QRO3UURjJ4
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/usr/local/bin/op-ssh-sign"
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[core]
  editor = vim
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  in = log ..@{u}
  out = log @{u}..
[push]
  autoSetupRemote = true
  followtags = true
[pull]
  rebase = true
[rebase]
  autostash = true
[init]
  defaultBranch = main
[include]
  path = ~/.config/git/config-wsl
