[user]
  name = David Winter
  email = i@djw.me
  signingkey = 0194134D61D5C337
[color]
   diff = auto
   status = auto
   branch = auto
[core]
  autocrlf = input
  editor = vim
  quotepath = false
  excludesfile = /Users/davidwinter/.gitignore_global
[alias]
  root = rev-parse --show-toplevel
  currentbranch = !git branch --contains HEAD | grep '*' | tr -s ' ' | cut -d ' ' -f2
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  in = log ..@{u}
  out = log @{u}..
  undo = reset HEAD^
  y = log --author="David\\ Winter" --since="1\\ day\\ ago" --all --reverse --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s" --decorate
[push]
  default = simple
[pull]
  rebase = true
[commit]
  gpgsign = true
